<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 阿里云开发者的 AccessKey -->
    <add key="AccessKey" value="XXXX"/>
    <!-- 阿里云开发者的 AccessKeySecret -->
    <add key="AccessKeySecret" value="XXXX"/>
    <!-- 阿里云 API 的地址 -->
    <add key="APIUrl" value="http://alidns.aliyuncs.com/"/>
    <!-- 获取外网 IP 的地址 -->
    <add key="IPUrl" value="http://pv.sohu.com/cityjson"/>
    <!-- 要进行解析的域名 -->
    <add key="DomainName" value="XXX.cn"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>